
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}


/* History Orders */

.contenedor-pdf {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  z-index: 900;
  width: 80%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
}

#btn-contenedor-pdf{
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 12px;
  font-weight: bolder;
}

#btn-recibo-pdf{
  width: 50%;
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #274494;
  color: #274494;
  background-color: white;
  transition: transform .1s ease-in-out;
}

#btn-recibo-pdf:hover{
  transform: scale(1.1); 
}