
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}


/* History Orders */

.contenedor-pdf {
  display: flex;
  background-color: #000;
  flex-direction: column;
  margin-top: 10px;
  z-index: 900;
  width: 80%;
  height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn-contenedor-pdf{
  height: 40px;
  color: white;
  background-color: rgb(107, 107, 107);
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 30px;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

#btn-contenedor-pdf:active{
  background-color: rgb(83, 83, 83);
}

.btn-recibo-pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #274494;
  color: #274494;
  background-color: white;
  transition: transform .1s ease-in-out;
}

.btn-recibo-pdf:hover{
  transform: scale(1.1); 
}

/* css-1t1j96h-MuiPaper-root-MuiDialog-paper */

#container-video-demo{
  display: flex;
  justify-content: center;
  width: 100%;
}

.css-uhb5lp{
  align-items: center !important;
  padding: 30px;
  flex-direction: column;
}

.css-uhb5lp p{
  margin: 0 !important;
}

#boton-dialog{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and ( max-width: 600px ) {

  .css-uhb5lp{
    text-align: center;
  }

}

@media screen and ( max-width: 500px ) {

  .css-uhb5lp{
    padding: 10px;
  }

  .css-uhb5lp h2{
    font-size: 16px;
  }

  .css-uhb5lp p{
    font-size: 13px;
  }

}

@media screen and ( max-width: 500px ) {

  .css-uhb5lp{
    padding: 10px;
  }

  .css-uhb5lp h2{
    font-size: 13px;
  }

  .css-uhb5lp p{
    font-size: 11px;
  }

  #container-video-demo{
    height: 200px !important;
  }

}
